window.Bar {
    background: transparent;
    color: @theme_fg_color;
    font-weight: bold;
}

window.Bar>centerbox {
    background: @theme_bg_color;
}

window.Bar button {
    border-radius: 8px;
    margin: 2px;
}

.BluetoothMenu {
  background: transparent;
  color: white;
}

.BluetoothMenu > box {
  background-color: rgba(0, 0, 0, .4);
  margin: 10px;
  min-width: 300px;
}

window.BluetoothMenu > label {
  color: white;
}

.text-white {
  color: white;
}
