@use "colours" as *;
@use "utils";

window#bluetooth {
  .AudioBluetoothMenu {
    margin: 0.6rem;
    padding: 1rem;
    background-color: $bg-color-darker;
    border-radius: 1rem;
    box-shadow: 2px 3px 8px 0 gtkalpha($bg-color-darker, .4);

    >label {
      color: $fg-color-darker;
      margin: 0.5rem 0;
      font-size: 0.8rem;
      font-weight: 800;
    }
  }
  
  .btdevice {
    .connect, .disconnect {
      @include utils.menu-button
    }

    .connect icon {
      -gtk-icon-style: symbolic; // allows changing color with text color
      margin-right: 0.4rem;
      font-size: 1.1rem;
    }

    .connected {
      font-weight: 600;
      font-size: 0.9rem;

      icon {
        color: $c-green;
      }
    }

    .disconnect {
      margin-left: 0.8rem;
      background-color: $c-red;
      color: $fg-color;

      &:hover {
        background-color: $c-red-vibrant;
      }
    }
  }

  .audiostatus {

    >button, .endpoint {
      @include utils.reset-button;
      @include utils.menu-button;

      icon {
        margin-right: 0.5rem;
      }

      &.default {
        background-color: $c-green;
      }
    }

    .adjuster {

      // equal spacing between the buttons and the slider
      .mute {
        margin-left: 0;
        margin-right: 0.6rem;
      }
      .expander {
        margin-left: 0.6rem;
      }

      scale {
        @include utils.slider;
      }

      .volume {
        padding: 0.5rem;
        min-width: 5.5rem; // big enough to fit "100%"
        icon, label {
          margin: 0 0.4rem;
        }
      }

      button {
        all: unset;
        @include utils.pill-button;
        font-size: 0.9rem;
        font-weight: 600;
        border-radius: 500px;

        &.muted {
          background-color: $c-red;
        }
      }

      .expander {
        margin-left: 0.6rem;
        -gtk-icon-style: symbolic;
        color: $fg-color;
        font-size: 1.5rem;
        min-width: 32px;
        min-height: 32px;
      }
    }
  }
}
