@use "colours" as *;
@use "utils";

window#bluetooth {
  .AudioBluetoothMenu {
    margin: 0.6rem;
    padding: 1rem;
    background-color: $bg-color-darker;
    border-radius: 1rem;
    box-shadow: 2px 3px 8px 0 gtkalpha($bg-color-darker, .4);

    >label {
      color: $fg-color-darker;
      margin: 0.5rem 0;
      font-size: 0.8rem;
      font-weight: 800;
    }
  }
  
  .btdevice {
    .connect, .disconnect {
      @include utils.menu-button
    }

    .connect icon {
      -gtk-icon-style: symbolic; // allows changing color with text color
      margin-right: 0.4rem;
      font-size: 1.1rem;
    }

    .connected {
      font-weight: 600;
      font-size: 0.9rem;

      icon {
        color: $c-green;
      }
    }

    .disconnect {
      margin-left: 0.8rem;
      background-color: $c-red;
      color: $fg-color;

      &:hover {
        background-color: $c-red-vibrant;
      }
    }
  }

  .audiostatus {
    .divider {
      min-height: 1.4rem;
    }

    >button, .endpoint {
      @include utils.reset-button;
      @include utils.menu-button;

      icon {
        margin-right: 0.5rem;
      }

      &.default {
        background-color: $c-green;
      }
    }

    .adjuster {
      margin-bottom: 0.6rem;
      .volume {
        text-shadow: none;
        margin-right: 0.6rem;

        icon {
          font-size: 1.2rem;
          margin: 0 0.6rem;
        }
      }

      button {
        all: unset;
        @include utils.pill-button;
        margin: 0 0.6rem 0 0;
        padding: 0.6rem 0.4rem;
        font-size: 0.9rem;
        border-radius: 500px;
        font-weight: 600;

        &.muted {
          background-color: $c-red;
        }
      }

      scale {
        @include utils.slider
      }
    }
  }
}
