@use "./style/colours.scss" as *;

@mixin reset-button {
  border: 0;
  border-image: none;
  background-image: none;
  outline: 0;
  text-shadow: none;
  box-shadow: none;
  -gtk-icon-shadow: none;
}

@mixin pill-button {
  color: $fg-color;
  background-color: $bg-color;
  border-radius: 500px;
  margin: .4rem;

  &:hover, &.active {
    background-color: lighten($bg-color, 10%);
  }
}

@mixin menu-button {
  all: unset;
  padding: 0.6rem;
  margin: 0.4rem 0;
  color: $fg-color;
  border-radius: 0.6rem;

  background-color: lighten($bg-color, 10%);

  &:hover {
    background-color: lighten($bg-color, 20%);
  }
}

@mixin slider {
  &.horizontal {
    all: unset;

    contents > trough {
      all: unset;
      transition: all;
      background-color: lighten($bg-color, 20%);

      transition: min-height;
      min-height: 1rem;
      border-radius: 999px;

      slider, progress {
        all: unset;
        transition: all 0.2s ease-in-out;
        min-height: 1rem;
        min-width: 1rem;
        border-radius: 999px;
        margin-left: -1rem;
      }

      highlight {
        all: unset;
        background-color: $c-green;
        border-radius: 999px;
      }
    }

    &.dragging slider, &.dragging progress {
      box-shadow: 0 0 5px gtkalpha($bg-color-darker, .4);
      background-color: $c-green-vibrant;
    }

    &.fine-tune.dragging slider, &.fine-tune.dragging progress {
      min-width: 1.2rem;
      min-height: 1.2rem;
      margin-left: -1.2rem;
    }
  }
}

@mixin fade-bg-between($name, $bgcolor) {
  @keyframes #{$name} {
    25% { 
      background-color: $bgcolor;
    }

    // slows the animation by half, because it does nothing for the remainder of the duration.
    50% {
      background-color: inherit;
    }
  }
}
