@use './colors.scss' as *;

popover.quicksettings {
  arrow, contents, stack {
    background-color: $surface;
    color: $on-surface;
  }

  contents {
    box-shadow: $shadow-lg;
  }

  .qs-button {
    font-weight: normal;
    padding: 0;
    color: $on-surface;

    outline: none;
    min-height: 60px;

    .qs-button-box,
    .qs-button-box-arrow,
    .qs-button-box-arrow-inside {
      font-weight: normal;
      padding: 0;
      padding-left: 10px;
    }

    .arrow,
    .arrow-label {
      padding: 0px;
      min-width: 36px;
    }

    .qs-button-subtitle {
      font-size: $font-size - 1pt;
    }

    .qs-button-box,
    .qs-button-box-arrow,
    .arrow,
    .qs-button-box-arrow-inside {
      outline: none;
      background: rgba($surface-container, $window-opacity);

      &:hover {
        background: rgba($surface-container-high, $window-opacity);
        transition: all $transition;

        &.active {
          color: $on-secondary;
          background: rgba($secondary, $window-opacity);
        }
      }

      &:focus {
        transition: 0s;
        outline-offset: -$window-outline-width;
        outline: $window-outline-width solid $window-outline-color;
      }

      &.active {
        background: $primary;
        color: $on-primary;
      }
    }
  }

  .qs-button-box,
  .qs-button-box-arrow-inside {
    border-radius: $widget-radius;
  }

  .qs-button-box-arrow {
    border-radius: $widget-radius 0 0 $widget-radius;
  }

  .arrow {
    border-radius: 0 $widget-radius $widget-radius 0;
  }

  .slider-button {
    border-radius: $widget-radius;
    background: rgba($surface-container, $window-opacity);
    outline: none;

    &:hover {
      background: rgba($surface-container-high, $window-opacity);
    }
    &:focus {
      transition: 0s;
      outline-offset: -$window-outline-width;
      outline: $window-outline-width solid $window-outline-color;
    }
  }

  .default-audio-device {
    color: $green;
  }
}
